#article_title{
	background-color: #34495e;
	border-radius: 5px 5px 0px 0px;
	color: #ecf0f1;
	padding: 10px;
	padding-left: 15px;
	font-weight: bold;
	margin-top: 20px;
}
#image{
	background: no-repeat center;
	background-size: cover;
	height: 200px;
	border-radius: 0px 0px 5px 5px;
	transition: height 0.5s;
	margin-bottom: 20px;
}
#image:hover{
	height: 400px;
}
#container{
	display: flex;
}
#article_text{
	width: 700px;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	margin-right: 20px;
}
#suggests{
	margin-left: 20px;
	width: 230px;
	float: right;
	margin-top: 40px;
}

#lastPostSug #cont{
	width: 230px;
	height: 90px;
}

#lastPostSug label{
	font-weight: bold;
	font-size: 20px;
}
#lastPostSug div p{
	position: absolute;
	width: 150px;
	right: 0px;
}
#lastPostSug div #img{
	position: absolute;
	width: 70px;
	height: 70px;
	margin-top: 10px;
	background-size: cover;

}
#comments{
	width: 700px;
	margin-top: 50px;
	color: #34495e;
	
}
#comments .commentUnit{
	border: solid 1px;
	border-color: #34495e;
	padding: 10px;
	margin: 15px;
	margin-left: 0px;
}